<?xml version="1.0" encoding="UTF-8"?>
<libraries><library alias="markdown"><title>Markdown Server Framework</title><url>http://localhost:8888/docs/documentation</url></library><library alias="missingkids.com"><title>UI Framework</title><url>http://localhost:8888/ui/documentation</url></library></libraries>
